    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.product-card img { width: 100%; border-radius: 8px; margin-bottom: 10px; }
.product-card h3 { font-size: 14px; margin: 10px 0; height: 40px; overflow: hidden; }

.buy-btn {
    display: block;
    background: #fc5c65;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold
